{
  'format': {
    'day': {
      'key': 'Report for date',
      'value': '{{date}}'
    },
    'start': {
      'key': 'Clocked in',
      'value': '{{time}}'
    },
    'stop': {
      'key': 'Clocked out',
      'value': '{{time}}'
    },
    'break': {
      'key': 'Break duration',
      'value': '{{duration}}m'
    },
    'note': {
      'key': 'Note({{id}}) [{{time}}]',
      'value': '{{value}}'
    },
    'tracker': {
      'key': 'Worklog({{id}}) [{{time}}]',
      'value': '{{duration}} {{key}} {{value}}'
    }
  },
  'minuteRounding': 5
}
